@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "roboto";
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header__lists{
    display: flex;
    align-items: center;
    column-gap: 90px;
    list-style: none;
}
.header__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header__btn{
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    transition: 500ms ease;
}
.header__btn:hover{
    background: #08786C;
    color: #fff;
}
.intro{
    background: #F3F3F2;
    height: 560px;
    margin-bottom: 70px;
}
.intro__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__img{
    width: 600px;
}
.intro__title{
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.intro__text{
    margin-top: 10px;
    font-size: 18px;
    line-height: 29px;
    color: #55524E;
    max-width: 365px;
    width: 100%;
    margin-bottom: 50px;
}
.intro__content{
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    max-width: 720px;
    width: 100%;
    padding: 20px 10px 20px 25px;
}
.intro-item__text{
    font-size: 12px;
    line-height: 12px;
    color: #787573;
    margin-bottom: 8px;
}
.intro-item-1{
    padding-left: 25px;
    border-left: 1px solid #CECDCA;
}
.intro-item__btns{
    padding: 22px 40px;
    background: #08786C;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: 500ms ease;
}
.intro-item__btn{
    margin-left: 10px;
}
.intro-item__btns:hover{
    background: rgba(0, 0, 0, 0.06);
    color: #000;
}
.adventages{
    margin-bottom: 90px;
}
.adventages__texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}
.adventages-texts__primary{
    font-weight: normal;
}
.adventages-texts__title{
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 30px;
}
.adventages-texts__btn{
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: #000;
}
.adventages-texts__text{
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #787573;
}
.adventages__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 65px;
}
.adventages__item{
    max-width: 350px;
    width: 100%;
}
.adventages-item__title{
    margin-top: 15px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 5px;
}
.adventages-item__text{
    font-size: 16px;
    line-height: 24px;
    color: #55524E;
}
.rates{
    background: #FBEDE4;
    padding-top: 65px;
    padding-bottom: 65px;
}
.rates__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rates__right{
    max-width: 460px;
    width: 100%;
}
.rates__left{
    max-width: 600px;
    width: 100%;
}
.rates__title{
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 35px;
}
.rates__content{
    display: flex;
    flex-direction: column;
    row-g40px;
}
.rates__item{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.rates-item__title{
    font-size: 19px;
    line-height: 30px;
}
.rates-item__text{
    font-size: 16px;
    line-height: 24px;
}
.gallery{
    background: #194240;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 80px;
}
.gallery__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 45px;
}
.gallery__title{
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 680px;
    width: 100%;
    margin-bottom: 105px;   
}
.gallery__img{
    width: 100%;
    margin-bottom: 105px;
}
.gallery__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
}
.gallery-item__img{
    width: 250px;
}
.gallery-item__title{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.gallery-item__text{
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 15px;
}
.comments__title{
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
    color: #000000;
    max-width: 330px;
    width: 100%;
    margin-bottom: 50px;
}
.comments__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.comments__item{
    max-width: 360px;
    width: 100%;
    padding: 30px;
    border: 1px solid #CECDCA;
    border-radius: 8px;
}
.comments__icon{
    font-size: 15px;
    color: #08786C;
    margin-bottom: 25px;
}
.comments-item__title{
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 12px;
}
.comments-item__desc{
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color:  rgba(0, 0, 0, 0.6);
}
.comments-item__text{
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 28px;
}
.comments__logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.about{
    background: #1B1918;
    padding-top: 110px;
    padding-bottom: 110px;
}
.about__title{
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.about__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #A7A6A4;
    max-width: 420px;
    width: 100%;
    margin-bottom: 80px;
}
.about__gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.about__img{
    width: 250px;
}
.about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.about__item{
    display: flex;
    flex-direction: column;
}
.about__desc{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 35px;
}
.about__link{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #A7A6A4;
    text-decoration: none;
}
.about__span{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.about__btn{
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 24px;
    background: #2E2B29;
    border-radius: 8px;
    margin-top: 30px;
    transition: 500ms ease;
}
.about__btn:hover{
    background: #08786C;
    color: #fff;
}
.footer{
    background: #194240;
    padding-top: 90px;
    padding-bottom: 60px;
}
.footer__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    max-width: 342px;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}
.footer__lists{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.footer__link{
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);
}
.footer__desc{
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.footer__content{
    display: flex;
    align-items: flex-start;
    column-gap: 150px;
}